.container {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 10px;
}
.container div {
  background-color: pink;
  font-size: 1.5rem;
}

@media (max-width: 720px) {
  .header {
    grid-column: 1 / span 12;
  }

  .navigation {
    grid-row: 2;
    grid-column: 1 / span 12;
  }

  .sidebar {
    grid-row: 3 / span 9;
    grid-column: 1 / span 3;
  }

  .main {
    grid-row: 3 / span 9;
    grid-column: 4 / span 9;
  }

  .ads {
    grid-row: 12;
    grid-column: 1 / span 3;
  }

  .footer {
    grid-row: 12;
    grid-column: 4 / span 9;
  }
}
