.box {
  height: 150px;
  width: 150px;
  border: 2px solid black;
  background-color: pink;
}

.one {
  background-color: aquamarine;
  z-index: 0;
}

.two {
  background-color: darksalmon;
  z-index: 1;
  position: relative;
  bottom: 50px;
}
